{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

    <h1>Produits</h1> 
        <div class="row">
            <div class="row product-container">
                
            </div>
        </div>
        
{% endblock %}
